*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

// * Put footer at bottom

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--back);
    color: var(--front);
    font-family: "Poppins", "helvetica", "Tahoma", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

footer {
    margin-top: auto;
}

h3 {
    font-weight: 600;
    font-size: 1.44rem;
    line-height: 1.5;
}

.scroll-lock {
    overflow: hidden;
}

@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}
