.subscribe-form {
    display: grid;
    grid-gap: 22px;
    &__label {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.5;

        color: #ffffff;
    }

    &__input {
        background: #303034;
        border-radius: 4px;
        padding: 12px 17px;
        border: 1px solid #3b3b40;
        color: white;

        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.5;
    }

    @media (min-width: 600px) {
        &__submit {
            max-width: 123px;
        }
    }

}
