extend common/_base

block variables
    - const title = "Social Dance TV"

block body
    include ./includes/home/intro
    include ./includes/home/banner
    include ./includes/home/features
    include ./includes/home/dance-styles
    include ./includes/home/cta-section1

    include ./includes/home/custom-player
    include ./includes/home/instructors
    include ./includes/home/advantages
    include ./includes/home/reviews

    include ./includes/home/classes
    include ./includes/home/tariffs
    include ./includes/home/join

    include ./includes/home/cta-section2

    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
