article.banner#banner
    ._wrapper.container
        p._text Access to all classes for $19.99/month (billed annually)
        a(href="https://app.socialdancetv.com/signup/1?gr=1").button._link Get started

