section(data-aos="fade" data-aos-duration="2000").classes#classes
    ._wrapper.container
        h2 Classes
    - const classes = new Array(10);
    - const colors = ["", "classes-item__tag--orange", "classes-item__tag--blue", "classes-item__tag--purple"]
    .classes-line-space
        - const classesRows = ["classes-row-first", "classes-row-second"]
        each row in classesRows
            .classes-row(id=row)
                each li, index in classes
                    - let current = (index + 1) % 4 + 1
                    a(href="https://app.socialdancetv.com/signup/1?gr=1").classes-item
                        img(src=`./img/main/classes/item${current}.jpg`).__image
                        .__wrapper
                            span(class=colors[current])._tag Routines
                            ._title Cha Cha Cha Footwork &quot;Oye Como Va&quot;
                            footer._footer
                                .classes-item-style
                                    | Style:&nbsp;
                                    span.classes-item-style-white Cha Cha Cha
                                .classes-item-instructor
                                    | Instructor:&nbsp;
                                    span.classes-item-instructor-white Adolfo &amp; Amneris
