section.classes#classes
    ._wrapper.container
        h2 Classes
    - const classes = new Array(10);
    .classes-line-space
        - const classesRows = ["classes-row-first", "classes-row-second"]
        each row in classesRows
            .classes-row(id=row)
                each li in classes
                    .classes-item
                        img(src='./img/main/classes/chachacha.png')
                        .classes-item-shadow
                        .classes-item-btn Routines
                        .classes-item-title Cha Cha Cha Footwork &quot;Oye Como Va&quot;
                        .classes-item-style
                            | Style:&nbsp;
                            span.classes-item-style-white Cha Cha Cha
                        .classes-item-instructor
                            | Instructor:&nbsp;
                            span.classes-item-instructor-white Adolfo &amp; Amneris
