article(data-aos="fade" data-aos-duration="2000").cta-section.-triangle
    ._wrapper.-narrow.container
        h2._title.-with-small 2 Members
            span._small for the Price of 1

        p.price-tag._price
            span._price $99
            sub._sub / mo
            br
            span._desc Billed annualy

        a(href="#payment").button.-white._button.modal-link Get Started


