article(data-aos="fade" data-aos-duration="2000").cta-section
    ._wrapper.container
        h2._title.-big Made By Dancers, For Everyone

        //a(href="https://app.socialdancetv.com/signup/1?gr=1").button.-border._sub-button Try it out for 7 days
        //a(href="https://app.socialdancetv.com/signup/1?gr=1").button.-white._button Start your free trial
