article(data-aos="fade-down").cta-section
    ._wrapper.container
        h2._title.-big Made By Dancers, For Everyone

        a(href="#payment").button.-border._sub-button.modal-link Try it out for 7 days
        a(href="#payment").button.-white._button.modal-link Start your free trial
