article(data-animation="fadeIn").cta-section
    ._wrapper.container
        h2._title.-big Made By Dancers, For Everyone

        a(href="#").button.-border._sub-button Try it out for 7 days
        a(href="#").button.-white._button Start your free trial
