- const instructors = ["Angela Mariano", "Antonio & Jasmina", "Ataca & La Alemana", "Carine & Rafael", "Charlie & Vero", "Chiara Tofani", "Cornel & Rithika", "Ernesto & Denisse", "Fadi Fusion", "Jane", "Lee and Kat", "Marck & Melyssa", "Paulo & Luiza", "Rodrigo & Asya", "Shani Talmor", "Tito & Tamara", "Vanessa Lacedonia"]

section(data-aos="fade" data-aos-duration="2000").instructors#instructors
    h2._title New classes added every month.

    ul._list
        each item, number in instructors
            li._instructor
                picture._photo
                    source(srcset=`./img/main/teachers/${item}.webp`, type="image/webp")
                    img(src=`./img/main/teachers/${item}.jpg` alt={item} width="210" height="326")
                p._name=item

    ._cta-block
        p._cta-text Learn anytime, anywhere, <br> at your own pace
        span._cta-icon
            svg(role="img" focusable="false" aria-hidden="true" width="32" height="32", fill="#B4B4C4")
                use(xlink:href="icons.svg#book")

        a(href="#find-classes")._cta-btn.button.button--border Find class for you

    include advantages
