section.intro#intro
    ._wrapper.container
        h1._title Dance Classes for Everyone
        p._subtitle Take classes at your own pace, on your own time, and on any device
        a(href="https://app.socialdancetv.com/signup/1?gr=1").button._cta Join Now
