section.intro#intro
    ._wrapper.container
        h1._title Dance Classes for Everyone
        p._subtitle Take classes at your own pace, on your own time, and on any device
        a(href="#payment").button._cta.modal-link Join Now
