section(data-animation="fadeIn").join#join
    ._wrapper.container
        h2._title Join The Only Studio That Moves With You
        img(src="img/screens.png", alt="Our  product", width="288", height="197")._image

        aside._side
                p._side-text As featured in
                ul._list
                    li._partner
                        a(href="#")
                            img(src="img/Forbs.png", alt="Forbs", width="107", height="30")._partner-logo
                    li._partner
                        a(href="#")
                            img(src="img/yahoo.png", alt="Yahoo", width="152", height="45")._partner-logo

