section(data-aos="fade" data-aos-duration="2000").join#join
    ._wrapper.container
        aside._side
            p._side-text In partnership with
            ul._list
                li._partner
                    a(href="https://dcbx.org", target="_blank")
                        img(src="img/partner/dcbx-logo.png", alt="DCBX", width="200", height="50")._partner-logo

