table.payment-table
    tbody._body
        tr._row
            th._par Amount Due
            td._val $ 99.99
        tr._row
            th._par Annual Saving
            td._val.-accent $ 139.89

        tr._row
            th._par Todays Total:
            td._val
                del._del $ 99.99
                | $ 99.99
