article(hidden).payment.modal#payment-class
    a(href="/", title="Close modal").modal__close
            svg(role="img", focusable="false", aria-hidden="true", fill="#B4B4C4" width="10", height="10")._modal__close-icon
                use(xlink:href="icons.svg#close")
    aside._side
        h2.__title Level up fast, try premium to unlock this class
        .classes-item
            img(src=`./img/main/classes/item1.jpg`).__image
            .__wrapper
                span(class=colors[current])._tag Routines
                ._title Cha Cha Cha Footwork &quot;Oye Como Va&quot;
                footer._footer
                    .classes-item-style
                        | Style:&nbsp;
                        span.classes-item-style-white Cha Cha Cha
                    .classes-item-instructor
                        | Instructor:&nbsp;
                        span.classes-item-instructor-white Adolfo &amp; Amneris
        include payment-side-list


    ._main
        section
            h2.__title Select a Plan
            .payment-plan
                header._header
                    ._text
                        h3._title Valera Smith
                        p._subtitle Our Best Offer
                        p._cost $99.99 / Yearly
                    p._save You Save
                        span._save-numb 58%
                    svg(role="img", focusable="false", aria-hidden="true", width="20", height="14", fill="currentColor")._icon
                        use(xlink:href="icons.svg#done")
                details.payment__details._more
                    summary.payment__summary
                        | More plans
                        svg(role="img", focusable="false", aria-hidden="true", width="12", height="6", fill="currentColor")
                            use(xlink:href="icons.svg#down")

                hr

                include payment-table


        section
            h2.__title Payment Method
            - formId = 2;

            include payment-form


