form.payment-form
    ul._method-list
        li._checkbox-group.-long
            input#payment-card(type="radio", name="method", value="card" checked).visually-hidden._checkbox
            label(for="payment-card")._button-checks-label
                | Credit or Debit Card
                img(src="img/mastercard.svg", alt="Visa", width="22" height="13")
                img(src="img/visa.svg", alt="Visa", width="28" height="9")

        li._checkbox-group
            input#payment-paypal(type="radio", name="method", value="paypal").visually-hidden._checkbox
            label(for="payment-paypal")._button-checks-label
                img(src="img/paypal.svg", alt="Paypal", width="56" height="15")
        li._checkbox-group
            input#payment-google(type="radio", name="method", value="google-pay").visually-hidden._checkbox
            label(for="payment-google")._button-checks-label
                img(src="img/google-pay.svg", alt="Google Pay", width="41" height="16")
        li._checkbox-group
            input#payment-apple(type="radio", name="method", value="apple-pay").visually-hidden._checkbox
            label(for="payment-apple")._button-checks-label
                img(src="img/apple-pay.svg", alt="Apple Pay", width="41" height="16")

    ._wrapper
        label._label.-master
            | Card Number
            input#card-number(type="text", name="card-number", autocomplete="cc-number" valid)._input.-icon

        label._label
            | Expiration
            input#card-number(type="text", name="card-exp", placeholder="MM / YY" autocomplete ="cc-exp" disabled)._input
        label._label
            | CVV
            input#card-number(type="text", name="card-cvv", placeholder="CVV" autocomplete ="cc-csc" disabled)._input

        label._label
            | Card Holder Name
            input#card-number(type="text", name="card-hold", placeholder="Card Holder Name" autocomplete="cc-name" disabled)._input

    button(type="submit" disabled)._submit.button Start membership

    details.payment__details._coupon
        summary.payment__summary
            | Enter a Coupon Code
            svg(role="img", focusable="false", aria-hidden="true", width="12", height="6", fill="currentColor")
                use(xlink:href="icons.svg#down")
