section(data-animation="fadeIn").tariffs#tariffs
    ._wrapper.container
        h2._title Unlimited classes for the price of one
        p._text Learn to dance without breaking the bank for as little as $8.25 a month. <br> New tutorials are added every week across various dance styles and levels!

    ul._list
        li._tariff
            h3._name The Enthusiast
            p._price $20
                sub._sub / mo
            p._subtitle billed monthly fee

            a(href="#order").button.-white._cta._cta--l Let's dance

        li._tariff.-accent
            h3._name The Professional
            p._price $8.33
                sub._sub / mo
            p._subtitle recurring annual fee
            p._subtitle.-accent save $141

            a(href="#order").button._cta._cta--r Let's dance

            p._footer
                span._footer-text Our Best Offer
                span._footer-text.-accent $99.99 PAID YEARLY
