@use "../core/variables";
@use "../core/mixins";
.advantages {
    background-color: variables.$main-text;
    padding: 17px variables.$mobile-offset 37px;
    display: block;
    width: 100%;
    color: white;

    &__body {
        display: flex;
        background-color: #303034;
        border-radius: 7.75px;
        padding: 6px 10px 18px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__row {
        display: grid;
        justify-items: center;
    }

    &__title {
        font-weight: 500;
        font-size: 12px;
        order: 1;
    }

    &__value {
        font-weight: 300;
        font-size: 46px;
        color: #0cc36b;

        @supports ((background-clip: text) or (-webkit-background-clip: text))
            and
            (
                (text-fill-color: transparent) or
                    (-webkit-text-fill-color: transparent)
            ) {
            background-image: linear-gradient(
                266.04deg,
                #615eff 0%,
                #0cc36b 100%
            );
            background-size: cover;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__sub {
        font-size: 0.42em;
        vertical-align: middle;
    }

    @media (min-width: 420px) {
        padding: 3.75rem 0 5.625rem;
        &__body {
            background-color: transparent;
            width: 76%;
            padding: 0;
            margin: auto;
            justify-content: center;
            @include mixins.grid-row(180px, 7%);
        }

        &__row {
            background: #303034;
            border-radius: 16px;
            padding: 14px 10px 40px;
        }
        &__value {
            font-size: 5rem;
        }
        &__title {
            font-size: 26px;
        }
    }

    @media (min-width: 528px) and (max-width: 843px) {
        &__body {
            grid-template-columns: 1fr 1fr;
        }
        &__row:last-child {
            grid-column: 1 / -1;
        }
    }
}

