@use "../core/variables";

.banner {
    background: rgba(36, 36, 40, 0.84);
    backdrop-filter: blur(8px);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    opacity: 0;
    animation: fadeIn 1s 1s linear forwards;

    &__wrapper {
        display: grid;
    }

    &__text {
        font-size: 16px;
        margin-right: 1rem;
    }

    @media (min-width: 500px) {
        &__wrapper {
            display: flex;
            justify-content: flex-end;
            padding-right: 87px;
        }
    }
}
