@use "../core/variables";

.intro {
    height: 82vh;
    background-color: #dde3e3;
    display: grid;
    align-items: start;

    &::after {
        content: "";
        background-image: url(../img/intro-desc.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 314px;
    }

    &__title {
        margin: 0 0 24px;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.24;
        top: 15px;
        color: variables.$main-text;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.5;
        margin: 0 0 16px;
    }

    @media (min-width: variables.$introBP) {
        background-position: right 2% center;
        background-size:  auto;
        padding-top: 11%;
        position: relative;
        display: block;
        height: auto;
        min-height: 727px + 30px + 12px; // calc(100vh - 63px);
        padding: 150px 0 203px;
        &::after {
            display: none;
            content: none;
        }

        &__wrapper {
            &::after {
                content: "";
                position: absolute;
                background-image: url(../img/intro-desc.jpg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 62%;
                height: 727px;
                top: 30px;
                right: 0;
            }
        }
        &__title {
            font-size: 2.75rem;
            font-size: min(2.75rem, 4.58vw);
            max-width: 39.5%;
        }

        &__subtitle {
            font-size: 0.75rem;
            max-width: 27.68%;
            margin-bottom: 52px;
        }

        &__cta {
            max-width: 223px;
            padding: 15px 60px;
        }
    }

    @media (min-width: variables.$container-width + 10px) {
        &__wrapper::after {
            right: -35px;
        }
    }
}
