@use "../core/variables";

.intro {
    height: 82vh;
    background-color: #dde3e3;
    background-image: url(../img/intro-desc.jpg);
    background-repeat: no-repeat;
    background-position: left 7.1875% bottom;
    background-size: auto 79%;
    padding-top: 15px;
    position: relative;

    &__title {
        margin: 0 0 24px;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.24;
        top: 15px;
        color: variables.$main-text;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.5;
        margin: 0 0 16px;
    }
    @media (max-width: variables.$introBP - 1px) {
        &__mob-wrapper {
            background: rgba(36, 36, 40, 0.84);
            backdrop-filter: blur(8px);
            color: #fff;
            padding: variables.$mobile-offset;
            position: absolute;
            margin: 0;
            bottom: 0;
            left: 0;

            width: 100%;
        }
    }
    @media (min-width: variables.$introBP) {
        background-position: right 2% center;
        background-size: 56.5% auto;
        padding-top: 15px;
        position: relative;
        display: flex;
        min-height: calc(100vh - 63px);
        &__title {
            font-size: 2.75rem;
            max-width: 39.5%;
        }

        &__wrapper {
            margin-top: auto;
            margin-bottom: auto;
        }

        &__subtitle {
            font-size: 0.75rem;
            max-width: 27.68%;
        }

        &__cta {
            max-width: 223px;
            padding: 15px 60px;
        }
    }
}
