@use "../core/variables";
@use "../core/mixins";

.tariffs {
    padding: 40px 0 21px;
    &__wrapper {
        max-width: 940px;
        text-align: center;
    }
    &__title {
        margin: 0;
    }

    &__text {
        display: none;
    }
    &__list {
        display: grid;
        grid-template-columns: variables.$mobile-offset;
        grid-auto-columns: 238px;
        grid-auto-flow: column;

        margin: 0 variables.$mobile-offset;
        // justify-items: end;
        @include mixins.reset-list;
        @include mixins.reset-scroll;
        overflow-x: scroll;
        overflow-y: visible;
        scroll-snap-type: x proximity;
        padding: 40px 0;
        gap: 20px;
        &::after,
        &::before {
            content: "";
            width: variables.$mobile-offset;
        }
    }
    @media (max-width: 600px - 1px) {
        &__list {
            &::before,
            li:last-child {
                order: -1;
            }
        }
    }

    @media (min-width: 600px) {
        &__text {
            display: block;
            margin: 0 0 74px;
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
            gap: 64px;
            max-width: 906px;
            margin: 0 auto;
            justify-content: center;
            align-items: start;
            &::after,
            &::before {
                content: none;
            }
        }
    }
}
