@use "../core/variables";
@use "../core/mixins";

.tariffs {
    padding: 40px 0 61px;
    &__wrapper {
        max-width: 940px;
        text-align: center;
    }
    &__title {
        margin: 0 0 40px;
    }

    &__text {
        display: none;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 238px);

        overflow-x: scroll;
        overflow-y: visible;
        margin: 0 variables.$mobile-offset;
        // justify-items: end;
        @include mixins.reset-list;
        @include mixins.reset-scroll;
        gap: 20px;
    }

    &__tariff {
        display: flex;
        flex-direction: column;
        background: #ffffff;

        border: 2.35196px solid #242428;
        box-sizing: border-box;
        box-shadow: 0px 14.1117px 28.2235px rgba(109, 108, 147, 0.2);
        border-radius: 18.8156px;
        padding: 24px 20px 20px;
        text-align: center;

        &--accent {
            border-color: #0cc36b;
        }
    }
    &__name {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 38px;
    }

    &__price {
        font-weight: bold;
        font-size: 44px;
        line-height: 66px;
        margin: 0;
    }

    &__sub {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 12px;

        color: #74747c;
        margin: 0;

        &--accent {
            font-weight: 600;
            font-size: 20px;
            /* identical to box height */

            text-align: center;

            /* blue */

            color: #615eff;
            margin-top: 13px;
        }
    }

    &__footer {
        display: grid;
        margin: 0 0 5px;
        gap: 9px;
        font-weight: 600;
        font-size: 12px;
        text-align: center;

        color: #74747c;
    }
    &__footer-text--accent {
        font-weight: 600;
        font-size: 16px;
        order: -1;

        color: #0cc36b;
    }

    &__cta {
        margin-top: auto;
        order: 1;
        padding: 13px 28px;
    }

    @media (min-width: 600px) {
        &__text {
            display: block;
            margin: 0 0 74px;
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
            gap: 64px;
            max-width: 906px;
            margin: 0 auto;
            justify-content: center;
            align-items: start;
        }

        &__tariff {
            min-height: 490px;
            &--accent {
                min-height: 545px;
            }
        }

        &__name {
            font-size: 30px;
        }

        &__price {
            font-size: 54px;
        }


        &__subtitle {
            font-size: 21.1676px;


            color: #74747c;
            margin: 0;
            margin-bottom: 4px;

            &--accent {
                font-size: 21px;
                /* identical to box height */

                text-align: center;

                /* blue */

                color: #615eff;
                margin-top: 0;
            }
        }

        &__footer {
            border-top: 1px solid #B4B4C4;
            padding-top: 13px;
            margin-top: 43px;
            display: flex;
            justify-content: space-between;
            text-align: center;

            color: #74747c;
        }
        &__footer-text--accent {
            font-weight: 600;
            font-size: 16px;
            order: 0;

            color: #0cc36b;
        }

        &__cta {
            margin-top: auto;
            order: 0;
            padding: 13px 28px;
        }
    }
}
